#word-grid, #guess-input {
    display: grid;
    background-color: var(--secondary-background);
    max-width: fit-content;
    margin: 1rem auto;
}

#guess-input {
    display: flex;
}

.cell {
    border: 2px solid var(--primary-background);
    border-radius: 1px;
    width: 40px;
    height: 40px;
    color: var(--secondary-text);
    font-size: 48;
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-cell {
    text-align: center;
    background-color: transparent;
}

.correct-letter {
    background-color: #a85008;
}

.correct-place {
    background-color: #01680b;
}

.wrong-letter {
    background-color: inherit;
}

#options {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 1rem;
}

input {
    accent-color: var(--secondary-text); 
}

label {
    display: flex;
    align-items: center;
}