button {
  background: none;
  border-style: none;
  font-size: 1rem;
  width: 100px;
  height: 100px;
  margin-left: 32px;
  margin-right: 32px;
  cursor: pointer;
}

#start {
  background-color: #282828;
  color: #25c40d;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

#board {
  width: 308px;
  height: 308px;
  border: 4px solid black;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  background-color: #282828;
  box-shadow: 10px 10px 15px;
}

#board div {
  width: 20px;
  height: 20px;

}

.invader {
  background: url("/assets/images/invaders/alien.png") center / contain no-repeat;
}

.tank {
  background: url("/assets/images/invaders/tank.png") center / contain no-repeat;
}

.missile {
  background: url("/assets/images/invaders/missile.png") center / contain no-repeat;
}

.boom {
  background: url("/assets/images/invaders/boom.png") center / contain no-repeat;
}

#directions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

#left {
  background: url("/assets/images/invaders/left.png") center / cover no-repeat;
}

#right {
  background: url("/assets/images/invaders/right.png") center / cover no-repeat;
}

#fire {
  background-color: #282828;
  color:#25c40d;
  height: 50px;
  border-radius: 10px;
}

#game-over {
  background-color: #282828;
  color: #25c40d;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

#end {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#end a {
  background-color: #EEF1DB;
  color: #282828;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 5px 0;
}
