#game-list {
  height: 400px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;
}

.game-selection {
  border: 1px solid black;
  border-radius: 10px;
  height: 125px;
  width: 125px;
  border-radius: 10px;
  background-color: #282828;
  margin: 25px 0;
}

.game-selection img {
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
  object-fit: contain;
}