#timer, #scoreboard {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  float: left;
  padding-left: 50px;
}

#scoreboard {
  float: right;
  padding-right: 50px;
}

button {
  background-color: #282828;
  color: #25c40d;
  font-size: 1rem;
  width: 180px;
  padding: 4px 0;
  border-style: outset;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

#game-window {
  background-image: url("/assets/images/whack/background-one.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
  clear: both;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-bottom: 16px;
  box-shadow: 10px 10px 5px #282828;
}

#level-select {
  height: 400px;
  width: auto;
  padding-top: 50px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hole {
  display: flex;
  flex: 33%;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hole::after {
  content: "";
  display: block;
  background-image: url("/assets/images/whack/hole-one.png");
  background-size: contain;
  position: absolute;
  bottom: -20px;
  width: 90%;
  height: 50px;
  z-index: 2;
  border-radius: 10px;
}

.rabbit {
  background-image: url("/assets/images/whack/rabbit.png");
  position: absolute;
  top: 100%;
  width: 90%;
  height: 100%;
  transition: top 0.5s linear;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hole.up .rabbit {
  top: 0;
}

#game-over {
  background-color: #282828;
  color: #25c40d;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

#end {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#end a {
  background-color: #EEF1DB;
  color: #282828;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 5px 0;
}