/* Custom variables */
:root {
  --apple-black: #282828;
}

/* Styling for overall board layout */
#board {
  max-width: 100%;
  height: 70vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Styling for levels */
#levels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-level {
  font-weight: 700;
  background-color: var(--apple-black);
  border: none;
}

/* Styling for choices */
#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#computer-choice, #user-choice {
  width: 100px;
  height: auto;
  margin: 10px auto;
}

.selections {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/* Media queries */
/* Small screens */
@media (max-height: 860px),
(max-width: 900px) {
  #board {
    margin: 0 auto;
  }
  .selections {
    width: 100px;
    height: 100px;
  }
  h2 {
    font-size: 1.25em;
  }
}

@media (max-width: 650px) {
  button {
    padding: 4px;
  }
  #computer-choice,
  #user-choice {
    width: 75px;
    height: auto;
  }
  .selections {
    width: 75px;
    height: 75px;
  }
  h2 {
    font-size: 1em;
  }
  h1 {
    margin: 10px 25px;
  }
  button {
    margin: 5px
  }
  p, #levels > h2 {
    font-size: 0.75em;
  }
}